@model List<KnowledgeHubPortal.Models.Entities.Article>
@{
    ViewBag.Title = "Approve";
}

<h2>Approve Articles</h2>
@TempData["Message"]
<br />
<form  method="post">
    <table class="table table-bordered">
        <tr>
            <td>Select</td>
            <td>Title</td>
            <td>Catagory</td>
        </tr>


        @foreach (var artile in Model)
        {
            <tr>
                <td><input type="checkbox" name="ids" value="@artile.ArticleID" /></td>
                <td><a href="@artile.Url" target="_blank">@artile.Title</a></td>
                <td>@artile.Catagory.Title</td>
            </tr>
        }

    </table>
    <input type="submit"  formaction="/Articles/ApproveArticles" name="btnApprove" value="Approve" class="btn-success" />
    <input type="submit" formaction="/Articles/RejectArticles" name="btnReject" value="Reject" class="btn-danger" />
</form>

